body{

margin:0;
overflow:hidden;
background:#ffe6ef;
font-family:Georgia;
}

.hidden{
display:none;
}

#petals{

position:fixed;
width:100%;
height:100%;
pointer-events:none;
z-index:0;

}

.petal{

position:absolute;
width:35px;
height:35px;
background:url("images/petal.png");
background-size:cover;
animation:fall linear infinite;

}

@keyframes fall{

0%{

transform:translateY(-50px) rotate(0deg);

}

100%{

transform:translateY(110vh) rotate(360deg);

}

}

#envelopePage{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.envelope{

width:350px;
height:240px;
background:#c70039;
position:relative;
border-radius:8px;

}

.flap{

position:absolute;
width:100%;
height:120px;
background:#e63946;
clip-path:polygon(0 0,100% 0,50% 100%);

}

#seal{

position:absolute;
bottom:15px;
left:50%;
transform:translateX(-50%);
background:#ff4d6d;
width:70px;
height:70px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
cursor:pointer;
color:white;

}

.letterPreview{

padding-top:90px;
text-align:center;
color:white;

}

.title{

font-size:60px;
color:#ff1493;
text-align:center;
font-family:cursive;

}

#introPage{

text-align:center;
padding-top:120px;

}

button{

padding:18px 40px;
font-size:22px;
margin:20px;
border:none;
border-radius:50px;
cursor:pointer;

}

#yesBtn{

background:#ff1493;
color:white;

}

#noBtn{

background:white;

}

#roseScreen{

position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:#ffb6c1;
display:flex;
justify-content:center;
align-items:center;
font-size:90px;

}

#letterPage{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.letter{

width:700px;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 0 25px pink;
overflow:auto;
height:85vh;

}

.photo{

width:180px;
height:180px;
border-radius:50%;
display:block;
margin:auto;
object-fit:cover;
border:6px solid hotpink;

}

.letter h1{

text-align:center;
color:#ff1493;

}

.letter p{

font-size:22px;
line-height:1.8;

}
#envelopePage,
#introPage,
#letterPage,
#roseScreen{
    position:relative;
    z-index:100;
}

#petals{
    z-index:1;
}

.envelope{
    z-index:200;
}
